@import "tailwindcss";

@theme {
  --color-softBlue: hsl(231, 69%, 60%);
  --color-softRed: hsl(0, 94%, 66%);
  --color-grayishBlue: hsl(229, 8%, 60%);
  --color-veryDarkBlue: hsl(229, 31%, 21%);

  --font-sans: Rubik, sans-serif;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1020px;
  --breakpoint-xl: 1440px;
}

@layer base {
  h1 {
    @apply text-3xl text-center font-semibold text-veryDarkBlue  lg:text-6xl lg:font-medium  md:text-left;
  }
  h3 {
    @apply text-2xl font-semibold text-veryDarkBlue mb-5 md:text-3xl;
  }
  h4 {
    @apply text-xl font-semibold text-veryDarkBlue md:text-2xl;
  }
  p {
    @apply text-center text-grayishBlue max-w-md leading-7 md:max-w-xl md:text-2xl lg:text-left md:mt-0 md:mx-0;
  }
}

/*For reusable components*/
@layer components {
  .section-container {
    @apply container mx-auto px-6 py-12 mb-30 text-center xl:px-0;
  }
  .logo-text--white {
    @apply absolute left-8 mb-0 translate-y-0.5  text-white lg:text-xl font-medium;
  }
  .nav__link {
    @apply text-sm uppercase text-grayishBlue font-medium tracking-widest hover:text-softRed duration-200;
  }

  .nav__btn {
    @apply bg-softRed px-8 py-3 rounded-lg border-2 border-softRed cursor-pointer hover:bg-white hover:shadow-lg duration-200;
  }

  .mobile__nav--link {
    @apply text-white text-2xl uppercase tracking-widest hover:text-softRed duration-200;
  }

  .mobile__nav--item {
    @apply w-full py-6 border-t-2 border-gray-50/10;
  }

  .hero__btn {
    @apply text-white font-semibold bg-softBlue border-2 border-softBlue md:text-base  p-4 rounded-lg cursor-pointer shadow-md hover:bg-white hover:text-softBlue duration-200 lg:px-8;
  }
  .img-bg {
    @apply absolute h-[180px] sm:h-[230px]  top-15 left-15 w-[2000px] md:h-[350px] lg:left-40  rounded-l-full lg:top-35 bg-softBlue;
  }
  .features__img--bg {
    @apply absolute h-[180px] sm:h-[230px] top-15 -left-10 w-full lg:h-[350px] lg:-left-80  rounded-r-full lg:top-35 bg-softBlue;
  }

  .features__tab {
    @apply border-t-2 border-gray-200  py-4  lg:border-t-0 lg:border-b-2;
  }
  .features__tab--text {
    @apply inline cursor-pointer  text-veryDarkBlue opacity-70 hover:opacity-100 hover:text-softRed duration-200;
  }
  .features__tab--underline {
    @apply relative top-4 h-1 w-1/4 mx-auto bg-white duration-200 lg:w-65;
  }
  .features__btn {
    @apply hidden self-start p-4 px-6 border-2 border-softBlue bg-softBlue rounded-lg cursor-pointer text-white lg:block hover:bg-white hover:text-softBlue duration-150;
  }
  .download__btn {
    @apply p-4 px-6 border-2 border-softBlue bg-softBlue rounded-lg cursor-pointer text-white lg:block hover:bg-white hover:text-softBlue duration-150 lg:py-3 lg:px-8;
  }
  .faq__tab {
    @apply flex flex-col items-center justify-between border-b-2 border-gray-200 py-4;
  }
  .faq__tab--text {
    @apply text-left text-lg text-veryDarkBlue duration-200 group-hover:text-softRed;
  }
  .faq__tab--question {
    @apply flex items-center justify-between w-full cursor-pointer;
  }

  .cta__form--input {
    @apply bg-white border-2 border-softBlue z-100 p-6 placeholder:text-gray-400 w-full rounded-lg focus:outline-none lg:py-3;
  }

  .socials {
    @apply flex items-center justify-center gap-10 mt-auto;
  }
  .social-icon {
    @apply w-8 cursor-pointer duration-150 hover:scale-110 lg:w-5;
  }
}

/*Hamburger Btn*/
/*--------------*/
.hamburger {
  @apply cursor-pointer w-6 h-6 transition-all duration-200 relative mt-2;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  @apply absolute w-6 h-[3px] top-0 left-0 rounded-xl bg-veryDarkBlue rotate-0 transition-all duration-500;
}

.hamburger-middle {
  @apply translate-y-[7px];
}
.hamburger-bottom {
  @apply translate-y-3.5;
}

.open {
  @apply rotate-90;
}

.open .hamburger-top {
  @apply rotate-45 translate-y-1.5 -translate-x-1 bg-white;
}

.open .hamburger-middle {
  @apply hidden bg-white;
}
.open .hamburger-bottom {
  @apply -rotate-45 translate-y-1.5 -translate-x-1 bg-white;
}

/*--------------*/
/*Navigation*/

.nav {
  @apply flex items-center justify-between;
}

.nav__links {
  @apply hidden items-center justify-center gap-10 lg:flex;
}

/*Mobile Nav*/
.mobile__nav {
  @apply flex flex-col  gap-20 py-13 px-10 absolute w-full h-screen bg-veryDarkBlue opacity-90  top-0 z-100;
}

.mobile__nav--items {
  @apply flex flex-col items-center  justify-center;
}

.mobile__nav--btn {
  @apply border-2 py-4 rounded-lg cursor-pointer border-white hover:border-softRed duration-200 w-full;
}

/*--------------*/
/*Section  Hero*/

.hero {
  @apply flex flex-col  gap-10 lg:flex-row  lg:gap-0;
}

.hero__content {
  @apply items-center flex flex-col gap-10 lg:mt-16 lg:w-1/2  lg:items-start;
}

.hero__img--box {
  @apply relative mx-auto lg:mx-0 lg:mb-0 lg:w-1/2 lg:order-1;
}

.hero__btns {
  @apply flex items-center w-full justify-center gap-4 lg:justify-start;
}

/*--------------*/
/*Section Features*/

.features__tabs {
  @apply flex flex-col lg:flex-row lg:justify-center mb-20;
}

.active-tab {
  @apply bg-softRed;
}

.features__tab--content {
  @apply flex flex-col items-center justify-center gap-20 lg:flex-row lg:gap-0;
}

.features__img--box {
  @apply relative mx-auto lg:mx-0 lg:mb-0 lg:w-1/2;
}

/*--------------*/
/*Section Download*/

.download__cards {
  @apply flex flex-col items-center justify-center gap-20 lg:flex-row lg:gap-10;
}

.download__card {
  @apply flex flex-col items-center justify-center gap-10 py-6 shadow-lg rounded-lg;
}

/*--------------*/
/*Section FAQ*/

.faq__tabs {
  @apply flex flex-col lg:max-w-xl lg:mx-auto  lg:justify-center;
}

.faq__active--arrow {
  filter: invert(24%) sepia(96%) saturate(7484%) hue-rotate(359deg)
    brightness(99%) contrast(120%);
}

/*--------------*/
/*Section CTA*/

.cta__header {
  @apply flex flex-col items-center justify-center gap-5;
}
.cta__form {
  @apply flex flex-col max-w-xl mx-auto justify-center gap-10 lg:flex-row;
}

.cta__form--error {
  @apply text-white text-sm italic text-left absolute rounded-b-lg bg-softRed p-2  px-4 w-full -bottom-7;
}

.cta__form--btn {
  @apply bg-softRed border-2 cursor-pointer border-softRed px-8 py-5 rounded-lg font-semibold text-white hover:text-softRed lg:py-3  hover:bg-white hover:shadow-lg duration-200;
}

/*Section Footer*/
.footer__items {
  @apply flex flex-col gap-10 items-center justify-center lg:flex-row lg:justify-start lg:gap-20;
}

.footer__links {
  @apply flex flex-col items-center gap-10 text-white lg:flex-row lg:self-end;
}

.footer__link {
  @apply uppercase tracking-widest text-xl lg:text-sm duration-200 hover:text-softRed;
}
